#form-file-upload {
  height: 20rem;
  width: 32rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

.radio-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5vh;
}
 
.inputs {
  display: flex;
}

input#rim {
  margin-right: 1vh;
}

input#paciente {
  margin-right: 1vh;
}

.submit-button {
  width: 25vh;
  margin-top: 5vh;
  margin-left: auto;
  border-radius: 5px;
  border: none;
  background-color: var(--main-color);
  color: var(--light-text);
  font-size: 1.2vw; /* Browsers that do not support "MIN () - MAX ()" and "Clamp ()" functions will take this value.*/
  font-size: max(
    18px,
    min(1.2vw, 32px)
  ); /* Browsers that do not support the "clamp ()" function will take this value. */
  font-size: clamp(18px, 1.2vw, 32px);
}