.navbar-container {
  background-color: var(--main-color);
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  height: 100vh;
  width: 30vh;
  min-width: 200px;
}

.navbar-title {
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 1.5vw; /* Browsers that do not support "MIN () - MAX ()" and "Clamp ()" functions will take this value.*/
  font-size: max(
    20px,
    min(1.5vw, 32px)
  ); /* Browsers that do not support the "clamp ()" function will take this value. */
  font-size: clamp(20px, 1.5vw, 32px);
}

.spacer {
  background-color: var(--third-color);
  margin-top: 7%;
  margin-bottom: 7%;
  width: 100%;
  height: 3vh;
}

.last {
  margin-top: auto;
}

.credit {
  color: var(--second-color);
  margin: 5%;
}
